html {
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

body {
    background-color: #282828;
    color: white;
    margin: 50px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    line-height: 1.5;
}

a {
    color: #9CFC97;
}

footer {
    margin-top: 50px;
}

.header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    margin: 50px 0;
}

.sketch, img {
    margin: 20px 0;
    width: 600px;
}

.sketch.small {
    width: 400px;
}

.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.canvas {
    display: block;
}

.link {
    display: flex;
    align-items: center;
    color: #9CFC97;
}

.option {
    display: inline-block;
    margin: 10px 10px 0 0;
}
